/* Variables */
/* Light Theme */
/* Dark Theme */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navFont {
  font-family: 'Raleway', Arial;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  color: inherit;
}
.navBackground {
  background: rgba(255, 255, 255, 0.7);
}
#ice-nav-container.fade {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */

  -moz-animation: fadein 2s;
  /* Firefox < 16 */

  -ms-animation: fadein 2s;
  /* Internet Explorer */

  -o-animation: fadein 2s;
  /* Opera < 12.1 */

  animation: fadein 2s;
}
ice-nav.dark #ice-nav-container {
  background: rgba(11, 11, 11, 0.6);
  color: #ffffff;
}
ice-nav.dark #ice-nav-container li.group:hover .name {
  background: rgba(147, 206, 216, 0.7);
}
ice-nav.dark #ice-nav-container .group-children-container tbody {
  color: #ffffff;
  background: rgba(11, 11, 11, 0.6);
}
ice-nav.dark #ice-nav-container .group-children-container tbody .child:hover {
  background: rgba(147, 206, 216, 0.7);
}
ice-nav #ice-nav-container {
  background: rgba(255, 255, 255, 0.7);
  color: #494949;
}
ice-nav #ice-nav-container li.group:hover .name {
  background: rgba(183, 209, 16, 0.7);
}
ice-nav #ice-nav-container .group-children-container tbody {
  color: #494949;
  background: rgba(255, 255, 255, 0.7);
}
ice-nav #ice-nav-container .group-children-container tbody .child:hover {
  background: rgba(183, 209, 16, 0.7);
}
#ice-nav-container {
  height: 55px;
}
#ice-nav-container .inner {
  background: transparent;
}
#ice-nav-container ul.group-list {
  margin-right: auto;
  margin-left: auto;
  display: table;
  height: 55px;
}
#ice-nav-container ul.group-list li.group {
  font-family: 'Raleway', Arial;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  color: inherit;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 47px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0 5px 0 5px;
}
#ice-nav-container ul.group-list li.group .name {
  padding: 11px 10px;
}
#ice-nav-container ul.group-list li.group:hover .name {
  color: white;
  cursor: pointer;
}
#ice-nav-container ul.group-list li.group:hover .group-children-container {
  display: table;
}
#ice-nav-container .group-children-container {
  text-align: center;
  display: none;
  position: absolute;
  top: 47px;
  left: 5px;
  z-index: 1;
}
#ice-nav-container .group-children-container td {
  vertical-align: top;
}
#ice-nav-container .group-children-container ul.child-list {
  padding-top: 7px;
  display: inline-block;
}
#ice-nav-container .group-children-container ul.child-list li a:link {
  color: inherit;
  text-decoration: inherit;
}
#ice-nav-container .group-children-container ul.child-list li a:visited {
  text-decoration: inherit;
  color: inherit;
}
#ice-nav-container .group-children-container ul.child-list li.sub-group-name {
  font-family: 'Raleway', Arial;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  color: inherit;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 3px 0px;
  width: 170px;
}
#ice-nav-container .group-children-container ul.child-list li.child {
  font-family: 'Raleway', Arial;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  color: inherit;
  font-size: 11px;
  line-height: 20px;
  padding: 3px 0px;
  width: 170px;
}
#ice-nav-container .group-children-container ul.child-list li.child:hover {
  color: white;
  cursor: pointer;
}
body {
  margin: 0;
  background: url(../demo/background.jpg) no-repeat;
  background-size: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
