.navFont {
  font-family: 'Raleway', Arial;
  color: #494949;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
}
.navBackground {
  background: rgba(255, 255, 255, 0.7);
}
#ice-nav-container {
  height: 55px;
  background: rgba(255, 255, 255, 0.7);
}
#ice-nav-container .inner {
  background: transparent;
}
#ice-nav-container ul.group-list {
  margin-right: auto;
  margin-left: auto;
  display: table;
  height: 55px;
}
#ice-nav-container ul.group-list li.group {
  font-family: 'Raleway', Arial;
  color: #494949;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 47px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0 5px 0 5px;
}
#ice-nav-container ul.group-list li.group .name {
  padding: 11px 10px;
}
#ice-nav-container ul.group-list li.group:hover .name {
  background: rgba(183, 209, 16, 0.7);
  color: white;
  cursor: pointer;
}
#ice-nav-container ul.group-list li.group:hover .group-children-container {
  display: block;
}
#ice-nav-container .group-children-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  position: absolute;
  top: 47px;
  left: 5px;
}
#ice-nav-container .group-children-container ul.child-list {
  padding-top: 7px;
  display: inline-block;
}
#ice-nav-container .group-children-container ul.child-list li a:link {
  color: inherit;
  text-decoration: inherit;
}
#ice-nav-container .group-children-container ul.child-list li a:visited {
  text-decoration: inherit;
  color: inherit;
}
#ice-nav-container .group-children-container ul.child-list li.sub-group-name {
  font-family: 'Raleway', Arial;
  color: #494949;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 3px 0px;
  width: 170px;
}
#ice-nav-container .group-children-container ul.child-list li.child {
  font-family: 'Raleway', Arial;
  color: #494949;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 14px;
  font-size: 11px;
  line-height: 20px;
  padding: 3px 0px;
  width: 170px;
}
#ice-nav-container .group-children-container ul.child-list li.child:hover {
  background: rgba(183, 209, 16, 0.7);
  color: white;
  cursor: pointer;
}
body {
  margin: 0;
  background: url(../demo/background.jpg);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
